@{
    ViewBag.Title = "Bootstrap Mvc helpers";
}
@model IEnumerable<Bootstrap.Mvc.Demo.Customer>
<h2>Customers</h2>
<p>Simple table example</p>
@(Html.Bootstrap()
    .Grid(@Model)
    .SetId("customers")
    .SetTableType(GridType.condensed | GridType.striped)
    .Columns(cols =>
    {
        cols.Add("CustomerId");
        cols.Add("CompanyName");
        cols.Add("ContactName");
        cols.Add("Address");
    }
    ))
